.patient

    /////////////////////SUMMERY WIDGET///////////////////////
    .patient-summery__widget
        .patient-summery__image
            span.ion-man

        .patient-summery__info
            .patient-summery__info-row
                .patient-summery__lable-scheme {{scheme.Title}}

            .patient-summery__info-row
                .patient-summery__lable {{d.FRONTPAGE_Submitted}}
                .patient-summery__value : {{calcTimeSinceSubmition(patient.Submitted)}}


    /////////////////////SOAP WIDGET///////////////////////
    .patient-soap__widget
        .widget__content
            .patient-soap__breadcrumb
                .patient-soap__breadcrumb-step(ng-repeat="step in steps", ng-click="setQuestions(step)", ng-class="{done: step.SortOrder < current_step.SortOrder, active: step.SortOrder === current_step.SortOrder}") {{step.Title}}

            .patient-soap__title(ng-class="{is_loading: is_loading_soap_widget}") {{current_step.Title}}

            .patient-soap__header
                .patient-soap__row {{d.PATIENT_Question}}
                .patient-soap__row {{d.PATIENT_Answer}}


            .patient-soap__content
                .patient-soap__item-list(ng-class="{is_loading: is_loading_soap_widget}")
                    .patient-soap__item--container(ng-repeat="soap_item in soap_item_list")
                        .patient-soap__item
                            .patient-soap__item--question {{soap_item.QuestionText}}

                            // ==> Single-Text
                            .patient-soap__item--answer(editable-text="soap_item.Answer",
                                                        buttons="no",
                                                        blur="submit",
                                                        placeholder="Text",
                                                        onaftersave="saveAnswer(soap_item)",
                                                        ng-if="soap_item.Type.Value === 'single-text'") {{soap_item.Answer || d.PATIENT_Empty}}

                            // ==> Radio-List
                            .patient-soap__item--answer(editable-radiolist="soap_item.Answer",
                                                        e-ng-options="o.Key as o.Value for o in soap_item.Options"
                                                        buttons="no",
                                                        onaftersave="saveAnswer(soap_item)",
                                                        ng-if="soap_item.Type.Value === 'radio-list'") {{findOptionByKey(soap_item.Answer, soap_item.Options) || d.PATIENT_Empty}}

                            // ==> Multi-text
                            .patient-soap__item--answer(editable-textarea="soap_item.Answer",
                                                        e-rows="7",
                                                        e-cols="40"
                                                        buttons="no",
                                                        blur="submit",
                                                        onaftersave="saveAnswer(soap_item)",
                                                        ng-if="soap_item.Type.Value === 'multi-text'")
                                pre {{soap_item.Answer || d.PATIENT_Empty}}

                            // ==> Select-List
                            .patient-soap__item--answer(editable-select="soap_item.Answer",
                                                        e-ng-options="o.Key as o.Value for o in soap_item.Options"
                                                        buttons="no",
                                                        onaftersave="saveAnswer(soap_item)",
                                                        ng-if="soap_item.Type.Value  === 'select-list'") {{findOptionByKey(soap_item.Answer, soap_item.Options) || d.PATIENT_Empty}}

                        .patient-soap__item--container.sub-item(ng-repeat="sub_soap_item in soap_item.questions", collapse="soap_item.Answer != sub_soap_item.CorrectAnswer.Value")
                            .patient-soap__item
                                .patient-soap__item--question {{sub_soap_item.QuestionText}}

                                // ==> Single-Text
                                .patient-soap__item--answer(editable-text="sub_soap_item.Answer",
                                                        buttons="no",
                                                        blur="submit",
                                                        placeholder="Text",
                                                        onaftersave="saveAnswer(sub_soap_item)",
                                                        ng-if="sub_soap_item.Type.Value === 'single-text'") {{sub_soap_item.Answer || d.PATIENT_Empty}}

                                // ==> Radio-List
                                .patient-soap__item--answer(editable-radiolist="sub_soap_item.Answer",
                                                        e-ng-options="o.Value as o.Value for o in sub_soap_item.Options"
                                                        buttons="no",
                                                        onaftersave="saveAnswer(sub_soap_item)",
                                                        ng-if="sub_soap_item.Type.Value === 'radio-list'") {{sub_soap_item.Answer || d.PATIENT_Empty}}

                                // ==> Multi-text
                                .patient-soap__item--answer(editable-textarea="sub_soap_item.Answer",
                                                        e-rows="7",
                                                        e-cols="40"
                                                        buttons="no",
                                                        blur="submit",
                                                        onaftersave="saveAnswer(sub_soap_item)",
                                                        ng-if="sub_soap_item.Type.Value === 'multi-text'")
                                                            pre {{sub_soap_item.Answer || d.PATIENT_Empty}}

                                // ==> Select-List
                                .patient-soap__item--answer(editable-select="sub_soap_item.Answer",
                                                        e-ng-options="o as o.Value for o in sub_soap_item.Options"
                                                        buttons="no",
                                                        onaftersave="saveAnswer(sub_soap_item)",
                                                        ng-if="sub_soap_item.Type.Value  === 'select-list'") {{sub_soap_item.Answer || d.PATIENT_Empty}}



                    .patient-soap__navigation
                        button.patient-soap__navigation-back(ng-click="backStep()", ng-hide="current_step.SortOrder === 0") {{d.PATIENT_Back}}
                        button.patient-soap__navigation-next(ng-click="nextStep()", ng-hide="current_step.SortOrder === steps.length - 1") {{d.PATIENT_Next}}

    /////////////////////JOURNAL WIDGET///////////////////////
    .patient-journal__widget
        .patient-journal__copying(ng-if="is_copying_jounal") {{d.PATIENT_Copying}}
        .patient-journal__header
            .patient-journal__row {{d.PATIENT_Description}}

        .patient-journal__content
            pre {{journal_text}}

        button.patient-journal__copypast-button(clip-copy="copyPast()", clip-click="copyPastEffect()", clip-blue="copyPastEffect()")
            span {{d.PATIENT_CopyPast}}